nav > ul > li{
     display: inline;
     margin-right: 20px;
}

nav li > a{
    text-decoration: none;
}

footer{
    text-align: center;
    margin-right: 20px;
}
article p > a{
    text-decoration: none;
}
